# CONFIGURACIÓN GENERAL
spring.application.name=backend-pharmman

# BASE DE DATOS (Deben crear la DB 'sistema_gestion' antes de correr el proyecto)
spring.datasource.url=jdbc:mysql://localhost:3306/sistema_gestion
spring.datasource.username=TU_USUARIO_AQUÍ
spring.datasource.password=TU_CONTRASEÑA_AQUÍ
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true


jwt.secret=LLAVE_SECRETA_PARA_DESARROLLO_CAMBIAME_12345
jwt.expiration=900000